/*
    CSS Stylesheet
    Author: Omar Juvera
    Description: This stylesheet contains styles for Github Pages [Portfolios]'s layout and design.
    Version: 1.0
    Last modified: February 11, 2024
*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	/* background-image: url('https://repository-images.githubusercontent.com/736133296/80d2132b-b291-4b86-a4b6-6b66250785c4'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; /* Center the background image */
	background-attachment: fixed; /* Fixed relative to viewport */
}

header {
	text-align: center;
	padding: 20px;
	color: #fff;
}

main {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	outline: 4px solid #2b4a5c; /* Outline color #2b4a5c */
	box-shadow: 0 0 10px rgba(43, 74, 92, 0.5); /* Shadow color #2b4a5c */
}

h1, h2, #breadcrumbs {
	margin: 0; /* Remove default margin to avoid additional spacing */
	text-shadow: 3px 3px 5px #2b4a5c; /* More pronounced text shadow */
}

/* breadcrumbs styling */
/* breadcrumbs styling */
#breadcrumbs {
	/* display: flex; */
	display: inline-block;
	border-radius: 20px;
	background-color:#8ebbe1;
	background-color:rgba(142, 187, 255,0.7);
	margin-top: 20px;
	color: #fff;
}
#breadcrumbs, #breadcrumbs p, #breadcrumbs a {
	/* padding: 4px 10px 10px; */
	padding: 10px;
	color: #fff;
}

section {
	margin-bottom: 20px;
}

p {
	line-height: 1.6;
}

/* Add more styling as needed */

@media (max-width: 600px) {
	main {
		padding: 10px;
	}
}
